@import "@/assets/variables.sass"
	
.menu
	list-style: none
	display: flex
	flex-direction: column
	padding: 0

	.menu-item
		cursor: pointer
		padding: .5em 0
		text-align: center
		font-size: 1.2rem
		background-color: inherit
		border-top-right-radius: 6px
		border-bottom-right-radius: 6px

		&:hover
			background-color: $hover-color
		
		
	//.menu-title
		