@import "../utils.sass"
	
=body
	font-size: 1.2rem
	font-weight: 400
	line-height: 1.3

=title
	font-size: 2.0rem
	font-weight: 700

=subtitle
	font-size: 1.5rem
	font-weight: 500

=caption
	font-size: .9rem
	font-weight: 400
	line-height: 1.2

.display-1
	font-size: 5.0rem
	font-weight: 800

.display-2
	font-size: 4.0rem
	font-weight: 700

.display-3
	font-size: 3.0rem
	font-weight: 600

.display-4
	font-size: 2.0rem
	font-weight: 600

.body
	+body
.title
	+title
.subtitle
	+subtitle
.caption
	+caption

.is-text-centered
	text-align: center
.is-text-left
	text-align: left
.is-text-right
	text-align: right