@import "@/assets/variables.sass"
	
.is-text-center
	text-align: center !important
.is-text-left
	text-align: left !important
.is-text-right
	text-align: right !important

.is-hidden
	visibility: hidden !important

.has-pointer
	cursor: pointer !important

.is-fullheight
	height: 100vh !important

.is-fullwidth
	width: 100vw !important

.is-block
	display: block !important

.is-inline
	display: inline !important

.is-inline-block
	display: inline-block !important

//break-point
@mixin mobile
	@media only screen and (max-width: $tablet -1px)
		@content

@mixin tablet
	@media only screen and (min-width: $tablet)
		@content

@mixin desktop
	@media only screen and (min-width: $desktop)
		@content

@for $i from 1 to 10
	$width: calc($i*100)
	.w-#{$width}
		width: calc($width * 1px)