@use 'sass:map'
@use 'sass:color'

$primary-color: hsl(0,0%,14%)
$sub-color : lightgreen
$accent-color: orange
$warning-color: #FFCC00
$error-color: #D0342C
$white: hsl(0,0%,98%)
$white-ter: hsl(0,0%,96%)
$white-bis: hsl(0,0%,98%)
$black-ter: hsl(0,0%,14%)
$black-bis: hsl(0,0%,7%)
$black: hsl(0,0%,4%)
//text-color
$text-color: hsl(0,0%,7%)
$text-color-invert: color.invert($text-color)
$text-on-primary: color.invert($primary-color) //hsl(0,0%,86%)
$text-on-accent: color.invert($accent-color)//hsl(0,0%,86%)
//background-color
$background-color: hsl(0,0%,98%)
$background-color-invert: color.invert($background-color)

//hover
$hover-color: hsl(0,0%,90%)

$colors:("primary":$primary-color,'sub':$sub-color,'accent':$accent-color,'white':$white,'white-ter':$white-ter,'white-bis':$white-bis,'warning':$warning-color,'error':$error-color,'black':$black,'black-ter':$black-ter,'black-bis':$black-bis)

$tablet: 768px
$desktop: 1024px
$break-point: ('breakpoint-tablet':$tablet,'breakpoint-desktop':$desktop)